# ---- ignore everything by default
**

# ---- allow the server project
!server/**
!pnpm-lock.yaml
!pnpm-workspace.yaml
!package.json

# ---- re-ignore bulky stuff inside server
server/node_modules
server/uploads
server/.turbo
server/.next
server/.cache
server/.pnpm-store
server/*.log

# ---- you do NOT need the client/worker for server image
client
worker

# ---- git & tooling
.git
.gitignore
.vscode
.DS_Store
